<div ng-controller="DetailController">
    <div class="">
        <p>Title: {{movieDetail.title}}</p>
        <p>Actors: {{movieDetail.actors}}</p>
        <p>Country: {{movieDetail.country}}</p>
        <p>Genre: {{movieDetail.genre}}</p>
        <p>Metascore: {{movieDetail.metascore}}</p>
        <p>Plot: {{movieDetail.plot}}</p>
        <p>Rated: {{movieDetail.rated}}</p>
        <p>Released: {{movieDetail.released}}</p>
        <p>Language: {{movieDetail.language}}</p>
        <img src="{{movieDetail.poster}}" />
    </div>
</div>
